<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Денис Шаповалов | Блог </title>
    <meta name="description" content="Консультант по детско родительским и семейным отношениям. Автор книг по детско-родительским отношениям. Автор и ведущий тренингов и семинаров для родителей и педагогов. Педагог-психолог детского центра развития 'Личности' г. Харьков. Сооснователь проекта для родителей 'Level Up'. Практический опыт с 2007 года.">
    <meta name="keywords" content="консультант по детско-родительским отношениям, консультация психолога, блог психолога, воспитание детей, советы психолога">
    <meta property="og:url" content="https://shapovalovexpert.com">
    <meta property="og:title" content="Детско-родительские и семейные отношения | Денис Шаповалов">
    <meta property="og:description" content="Консультант по детско родительским и семейным отношениям. Автор книг по детско-родительским отношениям. Автор и ведущий тренингов и семинаров для родителей и педагогов. Педагог-психолог детского центра развития 'Личности' г. Харьков. Сооснователь проекта для родителей 'Level Up'. Практический опыт с 2007 года.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../images/family-picture-istoc.jpg">
    <link rel="canonical" href="https://shapovalovexpert.com">
    <meta property="fb:app_id" content="257953674358265">
    <link rel="shortcut icon" type="image/x-icon" href="../images/fav/favicon.ico">
    <link rel="apple-touch-icon" href="../images/fav/ico_1.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../images/fav/ico_1.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../images/fav/ico_1.png">
    <link rel="apple-touch-startup-image" href="../images/fav/ico_1.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../images/fav/ico.png">

    <link rel="stylesheet" href="../css/style.css">
</head>
