.about {
    padding: 105px 0 105px;
    background-color: $N05;
    &__container {
        @include flex-col(stretch, stretch);
        @include media($screen-ipad-pro) {
            @include flex-row(stretch, stretch);
        }
    }

    &__img-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 30px;
        @include flex(center, center);
        @include padding-hack(100%);

        @include media($screen-ipad-pro) {
            margin-right: 40px;
            flex: 1 1 50%;
            max-width: 50%;
            margin-bottom: 0;
            @include padding-hack(46.3%);
        }
    }

    &__content-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
        background-color: $B10;
        padding: 26px;

        @include media($screen-ipad-pro) {
            margin-right: 40px;
            flex: 1 1 50%;
            max-width: 50%;
        }

        @include media(1176px) {
            padding: 60px;
        }
    }

    &__title {
        font-family: $font--secondary;
        @include text($H46, 600, $N0);
        margin-bottom: 24px;
        line-height: 1;
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background-color: $N0;
            opacity: 0.6;
            margin-top: 34px;
        }
    }

    &__text {
        font-family: $font--secondary;
        @include text($H20, 300, $N0);
        line-height: 1.55;
    }
}
