* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c3c3c3;
    // background: transparent;
    background: lighten($B10, 50%);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($B10, 0.5);
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($B10, 10%);
}

html,
body {
    min-height: 100vh;
}
body {
    // font-size: 100%;
    font-size: $H16;
    font-family: $font--main;
    color: $N20;
    background-color: $N0;
    // line-height: 2.22;
    font-weight: 400;
}
a {
    // display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
img {
    width: 100%;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    color: inherit;
}
input {
    border: none;
}
ul, ol {
    list-style: none;
}
ul,
ol,
li {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

.container {
    max-width: 1920px;
    padding: 0 30px;
    margin: 0 auto;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



// DELETE

// .delete {
//     max-width: 200px;
//     margin: 0 auto;
//     line-height: 1.5;
// }
// .delete-text {
//     font-size: 26px;
// }
