.header {
    background: $B10 url('../img/family-picture-istoc.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0 130px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    &:after {
        content: '';
        background-color: rgba($N30, 0.4);
        position: absolute;
        @include position;
        appearance: none;
    }
    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    &__title-wrapper {
        padding-left: 100px;
        color: #f0f0f0;
        z-index: 1;
    }
    &__title {
        @include text($H80, 700);
        margin-bottom: 20px;
       span {
           display: block;
       }
    }
    &__subtitle {
        font-family: $font--secondary;
        @include text($H24);
        line-height: 1.5;
        letter-spacing: 0.1em;
        span {
            display: block;
        }
    }
    &__text-wrapper {
        color: #f0f0f0;
        z-index: 1;
        margin: 0 auto;
    }
    &__text {
        @include text($H20, 500);
        font-family: $font--secondary;
        line-height: 1.5;
        letter-spacing: 0.1em;
    }
}



// main navigation

.main-nav {
    position: relative;
    z-index: 10;
    padding-left: 20px;
    margin-bottom: 20px;
    &__list {
        @include flex($align: center);
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        text-transform: uppercase;
        font-family: $font--secondary;
        @include text($H20, 500, $B40);
        @include media($screen-ipad-pro) {
            &:hover {
                color: lighten($B40, 25%);
                transition: color 0.3s ease-in-out;
                // text-decoration: overline;
            }
        }
    }
}



// social links

.header-socials {
    z-index: 10;
    @include flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: yellow;
    &__item {
        flex: 1 1 25%;
        max-width: 25%;
        @include flex(center, center);
        height: 100%;
        &--fb {
            background-color: $B30;
        }
        &--yt {
            background-color: $R10;
        }
        &--ig {
            background-color: $B40;
        }
        &--tg {
            background-color: $B50;
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        @include flex(center, center);
        svg {
            width: 50px;
            height: 50px;
            fill: $N0;
        }
        @include media($screen-ipad-pro) {
            &:hover {
                svg {
                    transform: scale(1.1);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
