.message {
    @include flex(center, center);
    min-height: 100vh;
    // &__container {
    //     @include flex(center, center);
    // }

    &__title {
        @include text($H30, 700);
        text-align: center;
        margin-bottom: 30px;
    }

    &__btn {
        @include text($H20, 400, $N0);
        @include flex(center, center);
        width: 100%;
        height: 60px;
        background-color: $B10;
        padding: 0 15px;
        border-radius: 10px;
        text-align: center;

        @include media($screen-ipad-pro) {
            &:hover {
                background-color: lighten($B10, 10%);
                transition: background-color, 0.3s ease;
            }
        }
    }
}
.container {
}
