.article {
    background: $N05;
    padding: 90px 0 80px;
    &__container {
        text-align: center;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $N20;
        &:after {
            margin: 30px auto 50px;
            background-color: $N11;
        }
    }

    &__text-wrapper {}

    &__text {
        text-align: left;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 40px;
        }
    }

    &__video {
        width: 80vw;
        min-height: 60vh;
        // height: auto;
        margin-bottom: 40px;
    }

    &__link {
        margin-bottom: 40px;
        &--forward {
            span {
                display: inline-block;
                margin-right: 10px;
            }
        }
        &--main {
            margin-bottom: 0px;
        }
    }
}
