.blog {
    // background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,108,255,1) 100%);
    background: linear-gradient(90deg, $B50 10%, $B10 100%);
    padding: 105px 0 105px;
    &__container {
        margin-bottom: 60px;
    }
    &-grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -16px;
        &__item {
            flex-basis: 100%;
            padding-left: 16px;
            margin-bottom: 16px;
            
            @media (min-width: 681px) {
                flex-basis: 50%;
            }
            
            @media (min-width: 993px) {
                flex-basis: 33.33%;
            }
            
            @media (min-width: 1171px) {
              flex-basis: 25%;
            }
        }
        &__item-wrapper {
            border-radius: 5px;
            overflow: hidden;
        }
        &__img-wrapper {
            @include flex(stretch, stretch);
            @include padding-hack($padding: 100%, $size: cover);
            background-color: $N0;
        }
        &__text-wrapper {
            padding: 20px;
            background-color: $N05;
            position: relative;
            min-height: 160px;
        }
        &__date {
            margin-bottom: 20px;
        }
        &__title {
            @include text($H20, 600);
            line-height: 1.25;
        }
        &__link {
            display: inline-block;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        @include text($H40, 700, $N0);

        @include media(411px) {
            font-size: $H46;
        }

        &:after {
            margin: 30px auto 50px;
        }
    }
    &__social-link {
        @include text($H20, 300, $N0);
        margin-bottom: 40px;
        text-align: center;
        a {
            @include text($H24, 700, $B70t);
            font-weight: 700;
            font-style: italic;
            &:hover {
                text-decoration: underline;
                transition: all 0.2s ease;
            }
        }
    }
    &__btn {
        @include text($H14, 700);
        @include flex(center, center);
        padding: 0 50px 0;
        box-shadow: 0px 0px 50px 0px rgba($N00, 0.5);
        // border-radius: 30px;
        border-radius: 7px;
        background-color: $N0;
        min-height: 50px;
        width: fit-content;
        margin: 0 auto;
        &:hover {
            background-color: $N05;
        }
        &:active {
            box-shadow: inset 0px 0px 20px 0px rgba($N00, 0.4);
        }
    }
}
