.consultation {
    padding: 105px 0 105px;
    text-align: left;
    background: $N10 url('../images/comp.jpeg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $N0;
    position: relative;
    &:after {
        content: '';
        background-color: rgba($N30, 0.4);
        position: absolute;
        @include position;
        appearance: none;
        z-index: 0;
    }
    &__container {
        z-index: 10;
        position: relative;
    }
    &__title {
        margin-bottom: 40px;
        @include text($H40, 700);

        @include media(411px) {
            font-size: $H46;
        }
    }
    &__text {
        margin-bottom: 30px;
        @include text($H20, 300);
        font-family: $font--secondary;
        line-height: 1.55;
        max-width: 100%;

        @include media(841px) {
            max-width: 70%;
        }
    }
    &__price {
        @include text($H20, 300);
        margin-bottom: 40px;
    }
    &__form {
        @include flex-col;
        &-input,
        &-btn,
        &-message {
            height: 56px;
            padding: 0 20px;
            border-radius: 7px;
            @include text($H16, 300, $N20);
            &::placeholder {
                font-family: $font--secondary;
                @include text($H14, 300, $N11);
            }
        }
        &-input,
        &-message {
            margin-bottom: 24px;
            width: 100%;
            outline-color: $N10;
            @include flex($align: center);

            @include media(521px) {
                width: 500px;
                max-width: 80%;
            }
        }
        &-message {
            height: 110px;
            padding-top: 20px;
            font-family: $font--secondary;
            @include text($H16, 300, $N20);
        }
        &-btn {
            width: 100%;
            background-color: $B10;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
            font-family: $font--secondary;
            @include text($H20, 500);
            letter-spacing: 0.03em;
            @include flex(center, center);
            cursor: pointer;

            @include media(511px) {
                width: 250px;
            }

            @include media(841px) {
                &:hover,
                &:focus {
                    background-color: darken($color: $B10, $amount: 10%);
                    transition: background-color 0.2s ease;
                    outline: none;
                }
                &:active {
                    background-color: darken($color: $B10, $amount: 20%);
                    outline: none;
                }
            }
        }
    }
}
