.consultation {
    padding: 105px 0 105px;
    text-align: left;
    background: $N10 url('../images/comp.jpeg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: $N0;
    position: relative;
    &:after {
        content: '';
        background-color: rgba($N30, 0.4);
        position: absolute;
        @include position;
        appearance: none;
        z-index: 0;
    }
    &__container {
        z-index: 10;
        position: relative;
    }

    &__title {
        margin-bottom: 40px;
        @include text($H46, 700);
    }

    &__text {
        margin-bottom: 30px;
        @include text($H20, 300);
        font-family: $font--secondary;
        line-height: 1.55;
        max-width: 56%;
    }

    &__price {
        @include text($H20, 300);
        margin-bottom: 40px;
    }

    &__form {
        @include flex-col;

        &-input,
        &-btn,
        &-message {
            height: 56px;
            padding: 0 20px;
            border-radius: 7px;
            @include text($H16, 300, $N20);
            &::placeholder {
                font-family: $font--secondary;
                @include text($H14, 300, $N11);
            }
        }
        &-input,
        &-message {
            margin-bottom: 24px;
            width: 500px;
            max-width: 50%;
            outline-color: $N10;
            @include flex($align: center);
        }
        &-message {
            height: 110px;
            padding-top: 20px;
            font-family: $font--secondary;
            @include text($H16, 300, $N20);
        }
        &-btn {
            width: 250px;
            background-color: $R20;
            font-family: $font--secondary;
            @include text($H20, 500);
            letter-spacing: 0.03em;
            @include flex(center, center);

            @include media($screen-ipad-pro) {
                &:hover,
                &:focus {
                    background-color: darken($color: $R20, $amount: 10%);
                    transition: background-color 0.2s ease;
                }
                &:active {
                    background-color: darken($color: $R20, $amount: 20%);
                }
            }
        }
    }

    // &__error {
    //     background-color: rgba(224, 79, 54, 0.7);
    //     border-radius: 8px;
    //     padding: 10px 20px;
    //     margin-bottom: 5px;
    //     // width: 100%;
    //     @include text($H22, 700);
    // }
}


/*Сообщение об отправке*/
.contacts__massage {
    display: none;
    align-items: center;
    border: solid 1px #ddd;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .contacts__massage.active ~ * {
    opacity: 1;
    filter: blur(20px); 
  }
  
  .contacts__massage img{
    width: 90px;
  }
  
  .contacts__info{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
  }
  
  .contacts__info-text{
    font-size: 14px;
    color: #000000; 
    margin-bottom: 0;
  }
