.events {
    padding: 100px 0 100px;
    background-color: $N05;
    text-align: center;
    position: relative;
    &__subtitle {
        margin-bottom: 30px;
        text-transform: uppercase;
        @include text($H40, 700);
        color: $R10;
    }

    &__title {
        @include text($H36, 600);
        text-transform: uppercase;
        margin-bottom: 40px;
        font-family: $font--secondary;
        span {
            display: block;
            text-transform: initial;
        }

        @include media(541px) {
            @include text($H40, 600);
        }

        @include media(541px) {
            @include text($H46, 600);
        }
    }

    &__descr {
        @include text($H20, 300);
        margin-bottom: 20px;
        a {
            @include text($H24, 700, $B50);
            font-weight: 700;
            font-style: italic;
            &:hover {
                text-decoration: underline;
                transition: all 0.2s ease;
            }
        }
    }

    &__date {
        @include text($H24, 700, $R30y);
        font-style: italic;
    }
}

// -----------------------------
.events-animation {
    margin: 0 auto 40px;
    overflow:hidden;  
    font-family: $font--main;
    @include text($H40, 700, $R10);
    text-transform: uppercase;
    
    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;
    }
    &__list {
        margin-top: 0;
        text-align: center;
        
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
  
        &__item {
          line-height:40px;
          margin:0;
        }
    }
}
  
@-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
  
@-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
  
@-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
   
@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
 