@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;600&display=swap');

// Fonts
$font--main: 'Raleway', Arial, sans-serif;
$font--secondary: 'Roboto', Arial, sans-serif;

// Colors //

//Neutrals
$N0: #ffffff;
$N00: #000000;
$N05: #f0f0f0;
$N10: #c3c3c3;
$N11: #979797;
$N20: #262626;
$N30: #29221c; // opacity 0.7 для формы

//Blue
$B10: #0070CC;
$B20: #3c5a98;
$B30: #5851db;
$B40: #08c;
$B50: #140094;
$B60f: #475993;
$B70t: #65AADD;
$B80: #a5d2f3;

//Red
$R10: #e62117;
$R20: #FF7300;
$R30y: #F00;



@function px_to_rem($target, $context: $base-size) {
    @if $target==0 {
        @return 0;
    }
  
    @return $target / $context + 0rem;
}
  
$base-size: 16px;

/* ---FONT SIZE--- */
$H90: px_to_rem(90px);
$H80: px_to_rem(80px);
$H70: px_to_rem(70px);
$H60: px_to_rem(60px);
$H55: px_to_rem(55px);
$H50: px_to_rem(50px);
$H48: px_to_rem(48px);
$H46: px_to_rem(46px);
$H45: px_to_rem(45px);
$H42: px_to_rem(42px);
$H44: px_to_rem(44px);
$H40: px_to_rem(40px);
$H36: px_to_rem(36px);
$H35: px_to_rem(35px);
$H33: px_to_rem(33px);
$H32: px_to_rem(32px);
$H30: px_to_rem(30px);
$H28: px_to_rem(28px);
$H26: px_to_rem(26px);
$H24: px_to_rem(24px);
$H22: px_to_rem(22px);
$H21: px_to_rem(21px);
$H20: px_to_rem(20px);
$H19: px_to_rem(19px);
$H18: px_to_rem(18px);
$H17: px_to_rem(17px);
$H16: px_to_rem(16px);
$H15: px_to_rem(15px);
$H14: px_to_rem(14px);
$H13: px_to_rem(13px);
$H12: px_to_rem(12px);
$H11: px_to_rem(11px);
$H10: px_to_rem(10px);
$H9: px_to_rem(9px);
